body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-bag-web);
}
.login {
  padding: 60px 50px;
  background-color: var(--color-card);
  border-radius: 20px;
}
h1 {
  text-align: center;
  margin: 0px 0px 35px 0px;
  color: var(--color-nav);
}
input {
  background-color: var(--color-input);
  width: 400px;
  padding-left: 10px;
  height: 45px;
  border: 1.5px solid var(--color-border);
  border-radius: 10px;
}
label {
  color: var(--color-tulisan-utama);
  padding-left: 10px;
  line-height: 2;
}
button {
  margin-top: 30px;
  text-align: center;
  width: 420px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--color-nav);
  color: aliceblue;
  border: 2px solid var(--color-nav);
}
button:hover {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 60px 10px;
    background-color: var(--color-card);
    border-radius: 20px;
  }
  h1 {
    text-align: center;
    margin: 0px 0px 35px 0px;
    color: var(--color-nav);
  }
  input {
    background-color: var(--color-input);
    width: 300px;
    padding-left: 10px;
    height: 45px;
    border: 1.5px solid var(--color-border);
    border-radius: 10px;
  }
  button {
  margin-top: 30px;
  text-align: center;
  width: 320px;
  height: 45px;
 
}
}
