body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
    padding: 30px;
    background-color: aqua;
    width: 500px;
    height: 500px;
}