.wrap {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  background-color: aqua;
  padding: 50px 150px;
}

card {
  width: 50%;
  background-color: green;
}

.template{
    pad
}

.input-transaksi {
  display: flex;
  flex: 1;
  background-color: aquamarine;
  padding: 20px;
}

.transaksi-terbaru {
  flex: 1;
  background-color: palegoldenrod;
  padding: 20px;
}
