.wrap{
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
}

card{
    width: 50%;
    background-color: rgb(42, 104, 84);
    height: 100px;
}