.wrap {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  background-color: aqua;
  padding: 50px 150px;
}

card {
  width: 50%;
  background-color: green;
}

.template {
  padding: 20px;
  background-color: var(--color-card);
}

.input-transaksi {
  display: flex;
  flex: 1;
  /* padding: 20px; */
}

.transaksi-terbaru {
  display: flex;
  flex: 1;
  background-color: palegoldenrod;
  /* padding: 20px; */
}
