.wrap {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  background-color: aqua;
  padding: 50px 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.template {
  padding: 20px;
  background-color: var(--color-card);
  border-radius: 13px;
  max-width: 800px;
}

.input-transaksi {
  display: flex;
  
  /* padding: 20px; */
}

.transaksi-terbaru {
  display: flex;
  flex: 1;
  /* padding: 20px; */
}
