.wrap {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bag-web);
  padding: 50px 20px;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
}
h5 {
  font-size: var(--font-judul-card);
  font-weight: bold;
}
.wrap-rincian {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.rincian {
  border: 1.2px solid var(--color-border-card);
  background-color: var(--color-card);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(30, 41, 59, 0.05);
  padding: 30px;
}
.card {
  width: 100%;
  max-width: 800px;
  border: 1.2px solid var(--color-border-card);
  background-color: var(--color-card);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(30, 41, 59, 0.05);
  padding: 30px;
}

/* per ituan */
.laporan-pendapatan,
.laporan-biaya,
.laporan-laba-bersih {
  border-radius: 12px;
  /* background-color: var(--color-input);
  border: 1px solid var(--color-border); */
}
/* baris header */

.baris-laporan-header {
  padding: 10px 15px;
  border-radius: 12px;
}

/* baris main */
.baris-laporan {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-text);
  border-bottom: 1px solid var(--color-border);
}.baris-laporan,
.baris-laporan-footer {
  padding: 5px 15px;
}
/* baris footer */
.baris-laporan-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bag-web);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}



/* responsif */
@media screen and (max-width: 554px) {
  .rincian {
    padding: 15px;
  }
}

/* responsive HP */
/* @media screen and (max-width: 480px) {
  .wrap-rincian {
    grid-template-columns: 100%;
    gap: 15px;
  }  */
