:root {
    --color-nav : #1E293B;
    --color-jumbotron : #1E293B;
    --color-nav : #1E293B;
    --color-nav : #1E293B;
    --color-nav : #1E293B;
    --color-nav : #1E293B;
    --color-nav : #1E293B;
}
