:root {
  --color-nav: #1e293b;
  --color-bag-web: #f8fafc;
  --color-card: #ffffff;
  --color-tulisan-utama: #334155;
  --color-pemasukan: #10b981;
  --color-pengeluaran: #ef4444;
}

nav {
  background-color: var(--color-nav);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 50px;
}

nav span {
  color: var(--color-card);
}

nav ul {
  padding: 0px;
  margin: 0px;
  
}
nav li {
  margin-right: 5px;
  display: inline;
}

nav a {
  color: var(--color-card);
}

body {
  background-color: var(--color-bag-web);
}
