:root {
  --color-nav: #1e293b;
  --color-bag-web: #f8fafc;
  --color-card: #ffffff;
  --color-tulisan-utama: #334155;
  --color-pemasukan: #10b981;
  --color-pengeluaran: #ef4444;
}

nav {
  background-color: var(--color-nav);
  height: 60px;
  display: flex;
  al
}
nav li {
    display: inline;
    margin-right: 5px;
}

body {
  background-color: var(--color-bag-web);
}
