:root {
  --color-nav: #1e293b;
  --color-bag-web: #f1f5f9;
  --color-card: #ffffff;
  --color-belum-dipencet: #94a3b8;
  --color-kurson: #cbd5e1;
  --color-tulisan-utama: #334155;
  --color-pemasukan: #0a3622;
  --color-pemasukan-bg: #d1e7dd;
  --color-pengeluaran: #b71c1c;
  --color-pengeluaran-bg: #ffcdd2;
  --color-border: #e2e8f0;
  --color-border-card: #cbd5e1;
  --color-input: #f8fafc;

  --font-judul-card: 18px; /* (judul card) */
  --font-text: 14px; /* (teks biasa) */
  --font-note: 12px; /* (catatan) */
}

body {
  font-family: "Roboto", sans-serif;
  body {
    background-color: var(--color-bag-web);
  }
}

nav,
.nav_menu {
  background-color: var(--color-nav);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  z-index: 1;
  position: sticky;
  top: 0px;
}
.nav_menu {
  padding: 0px;
}

.icon-list {
  color: #f1f5f9;
}
nav span {
  color: var(--color-card);
}
nav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 20px;
}
nav li {
  margin-right: 5px;
  display: inline;
  font-style: none;
}
nav a {
  color: var(--color-belum-dipencet);
  text-decoration: none;
}
.nav-active {
  color: var(--color-card);
  text-decoration: underline;
  text-underline-offset: 5px;
}
nav a:hover {
  color: var(--color-kurson);
}
.icon-list {
  display: none;
}
@media screen and (max-width: 768px) {
  nav{
    padding: 20px;
  }
  .nav_menu {
    background-color: #b71c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  .icon-list {
    height: 100%;
    background-color: #0e0c6f;
    background-color: var(--color-nav);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    /* display: none; */
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
    gap: 20px;

    background-color: var(--color-nav);

    width: 100%;
    position: fixed;
    top: 40px;
    /* right: 40px; */
    left: 0px;
  }
  nav ul.hidde{}
}
