:root {
  --color-nav: #1e293b;
  --color-bag-web: #f8fafc;
  --color-card: #ffffff;
  --color-belum-dipencet: #94a3b8;
  --color-kurson: #cbd5e1;
  --color-tulisan-utama: #334155;
  --color-pemasukan: #10b981;
  --color-pengeluaran: #ef4444;
  --color-borde: #E2E8F0;
}

nav {
  background-color: var(--color-nav);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  z-index: 1;
}

nav span {
  color: var(--color-card);
}

nav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 20px;
}
nav li {
  margin-right: 5px;
  display: inline;
  font-style: none;
}

nav a {
  color: var(--color-belum-dipencet);
  text-decoration: none;
}

.nav-active {
  color: var(--color-card);
  text-decoration: underline;
  text-underline-offset: 5px;
}

nav a:hover {
  color: var(--color-kurson);
}
body {
  background-color: var(--color-bag-web);
}
