:root {
    --color-nav : #1E293B;
    --color-jumbotron : #F8FAFC;
    --color-card : #FFFFFF;
    --color-tulisan-utama : #334155;
    --color-pemasukan : #1E293B;
    --color-nav : #1E293B;
    --color-nav : #1E293B;
}
